[submodule "BikeSalesProject"]
	path = BikeSalesProject
	url = https://github.com/lucas42paris/BikeSalesProject
[submodule "HousingDataCleaning"]
	path = HousingDataCleaning
	url = https://github.com/lucas42paris/HousingDataCleaning
[submodule "CovidDataExploration"]
	path = CovidDataExploration
	url = https://github.com/lucas42paris/CovidDataExploration
[submodule "AutomatedCryptoWebsite"]
	path = AutomatedCryptoWebsite
	url = https://github.com/lucas42paris/AutomatedCryptoWebsite
[submodule "DataCleaning"]
	path = DataCleaning
	url = https://github.com/lucas42paris/DataCleaning
